fastapi
uvicorn
langchain
langgraph
langchain-openai
langchain-aws
boto3
pydantic
python-dotenv
python-multipart
requests
tiktoken
langchain-community
pypdf
python-docx
pandas
openpyxl
chromadb
rank_bm25
langchain-text-splitters
